.dropdown {
    margin-right: -15px;
    margin-top: -15px;
}

.dropdown .dropdown-toggle {
    background: none;
    border: none;
}

.dropdown .btn {
    outline: none;
}

.dropdown .btn-primary:hover,
.dropdown .btn-primary:focus,
.dropdown .btn-primary:active {
    background: none !important;
    border: none !important;
}